.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%;
  margin: 5px;
  text-align: center;
}

.cursor {
  cursor: pointer;
  width: 100%;
}
